.autospin {
  z-index: 222;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgZmlsbD0ibm9uZSIgcj0iMTAiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz48cG9seWdvbiBmaWxsPSJub25lIiBwb2ludHM9IjEwIDggMTYgMTIgMTAgMTYgMTAgOCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==");
  text-indent: -62.438rem;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
}

.autospin.active {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgZmlsbD0ibm9uZSIgcj0iMTAiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz48cmVjdCBmaWxsPSJub25lIiBoZWlnaHQ9IjYiIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIHdpZHRoPSI2IiB4PSI5IiB5PSI5Ii8+PC9zdmc+");
}

ul.rotate-links {
  position: absolute;
  bottom: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 25%;
  bottom: 3.125rem;
  z-index: 20000;
}

.fullscreen360 ul.rotate-links {
  left: 40%;
  bottom: 3.125rem;
}

ul.rotate-links li {
  padding: 0 0.313rem;
  display: inline-block;
}

ul.rotate-links a {
  width: 2.375rem;
  display: block;
  height: 2.375rem;
  background-size: contain;
  cursor: pointer !important;
}

ul.rotate-links a.rotate-left {
  background: url(../images/left.svg) no-repeat 0 0;
}

ul.rotate-links a.rotate-right {
  background: url(../images/right.svg) no-repeat 0 0;
}

ul.rotate-links a.zoomin_button {
  cursor: zoom-in;
  background: url(../images/zoomin.svg) no-repeat 0 0;
}

ul.rotate-links a.zoomout_button {
  background: url(../images/zoomout.svg) no-repeat 0 0;
}

ul.rotate-links a.autospin {
  background: url(../images/play.svg) no-repeat 0 0;
}

ul.rotate-links a.autospin.active {
  background: url(../images/pause.svg) no-repeat 0 0;
}

ul.rotate-links a.fullscreenbtn {
  background: url(../images/fullscreenon.svg) no-repeat 0 0;
}

ul.rotate-links a.minimizeScreen {
  background: url(../images/fullscreenoff.svg) no-repeat 0 0;
}

#p360 {
  width: 100% !important;
  height: auto !important;
}

.primary-images .carousel-control-next,
.primary-images .carousel-control-prev {
  top: 3.125rem;
  bottom: 3.125rem;
}

@media screen and (max-width: 48rem) and (min-width: 20rem) {
  ul.rotate-links {
    left: 25%;
  }
}

@media screen and (max-width: 25.875rem) and (min-width: 20rem) {
  #p360canvas {
    width: 100%;
  }

  .autospin {
    left: 67%;
  }

  ul.rotate-links {
    left: 15%;
  }
}

.fullscreen:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
}

#p360 {
  background: #fff;
}

.fullscreen360 #p360canvas {
  position: relative;
  left: 25%;
  top: 10%;
}

.padding-30 {
  padding: 1.875rem;
}

.drag-to-spin {
  position: absolute;
  bottom: 30%;
  left: 35%;
  width: 9.438rem;
  height: 3.188rem;
  background: url(../images/drag_to_spin.png);
  background-repeat: no-repeat;
  background-size: 9.438rem 3.188rem;
}

.theme_panel .toolbar a.left_button {
  background: url(../images/left.svg) no-repeat 0 0;
}

.theme_panel .toolbar a.right_button {
  background: url(../images/right.svg) no-repeat 0 0;
}

.theme_panel .toolbar a.up_button {
  background: url(../images/up.svg) no-repeat 0 0;
}

.theme_panel .toolbar a.down_button {
  background: url(../images/down.svg) no-repeat 0 0;
}

.theme_panel .toolbar a.play_button {
  background: url(../images/play.svg) no-repeat 0 0;
}

.theme_panel .toolbar a.pause_button {
  background: url(../images/pause.svg) no-repeat 0 0;
}

.theme_panel .toolbar a.zoomin_button {
  background: url(../images/zoomin.svg) no-repeat 0 0;
}
